.profile__aside {
  flex: 0 0 360px;
  max-width: 360px;
}

.aside {
  background-color: var(--color-white);
  border-radius: 16px;
  padding: 40px;
}

.aside__img {
  width: 100%;
  height: 485px;
  margin-bottom: 40px;
  border-radius: 8px;
  overflow: hidden;
}

.aside__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aside__nav-item {
  padding-bottom: 12px;
  margin-top: 24px;
  border-bottom: 1px solid var(--color-gray-light);
  color: var(--color-gray);
}

.aside__nav-item.active{
  color: var(--color-black)
}


@media (max-width: 1000px) {
  .profile__aside {
    flex: 0 0 240px;
  }

  .aside__img {
    height: 300px;
  }
}

@media (max-width: 640px) {
  .profile__aside {
    max-width: 100%;
  }

  .aside__img {
    height: 187px;
  }

  .aside {
    padding: 28px;
  }
}

