.profile__body {
  display: flex;
  gap: 40px;
}

.back-btn {
  display: flex;
  padding: 20px 0;
}

.back-btn p {
  color: var(--color-gray-dark);
  margin-left: 8px;
}

.profile__content {
  flex: 1 1 auto;
  background-color: var(--color-white);
  padding: 40px;
  border-radius: 16px;
}