.user-card {
  padding: 24px;
  max-width: 100%;
  background-color: var(--color-white);
  border-radius: 16px;
}

.user-card.archive {
  filter: grayscale(100%);
}

.user-card__body {
  display: flex;
}

.user-card__info {
  width: 100%;
  position: relative;
}

.user-card .dropdown {
  position: absolute;
  top: 0;
  right: 0;
}

.user-card__img {
  width: 112px;
  margin-right: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.user-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-card__name {
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-accent);
}

.user-card__company {
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-gray-dark);
  margin-bottom: 40px;
}

.user-card__city {
  color: var(--color-gray);
}

@media (max-width: 870px) {
  .user-card {
    padding: 16px;
  }
  .user-card__body {
    flex-direction: column;
  }

  .user-card__img {
    width: 100%;
    height: 120px;
    margin-bottom: 16px;
  }

  .user-card__company {
    margin-bottom: 12px;
  }

}

@media (max-width: 375px) {
  .user-card__info {
    max-width: 130px;
  }

}

@media (max-width: 640px) {
  .dropdown__btn img {
    width: 20px;
  }
}