:root {
  --color-white: #FDFDFD;
  --color-white-dark: #F4F4F4;
  --color-gray-light: #DADADA;
  --color-gray: #9C9C9C;
  --color-gray-dark: #595959;
  --color-black: #161616;
  --color-accent: #22A0BC;

  --text-size-title: 24px;
  --text-size-headline: 20px;
  --text-size-normal: 18px;
  --text-size-small: 16px;
  --text-size-caption: 14px;

  --line-height-title: 32px;
  --line-height-headline: 27px;
  --line-height-normal: 24px;
  --line-height-small: 21px;
  --line-height-caption: 19px;
}

@media (max-width: 640px) {
  :root {
    --text-size-headline: 18px;
    --text-size-normal: 16px;
    --text-size-small: 14px;
    --text-size-caption: 10px;

    --line-height-headline: 24px;
    --line-height-normal: 21px;
    --line-height-small: 19px;
    --line-height-caption: 13px;
  }
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type:none;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--color-white-dark);
  font-size: var(--text-size-small);
  line-height: var(--line-height-small);
  font-weight: 500;
}

.title {
  font-size: var(--text-size-title);
  line-height: var(--line-height-title);
  font-weight: 600;
}

.headline {
  font-size: var(--text-size-headline);
  line-height: var(--line-height-headline);
  font-weight: 600;
}

.caption {
  font-size: var(--text-size-caption);
  line-height: var(--line-height-caption);
}

.main {
  padding-bottom: 60px;
}

a {
  text-decoration: none;
}